<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%- include('partials/_head') %>
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css" type="text/css"/>
  </head>
  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <main>
    <section class="main-body">
      <h1>Please Login</h1>
      <form class="form-inline" action="/login" method="POST">
        <div class="login-form">
          <label for="email">E-mail Address:</label>
          <input class="form-control" type="email" name="email" placeholder="E-mail">
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password">
          <button type="submit" class="btn btn-primary">Login</button>
          <% if (error) { %>
            <b><%= error  %></b>
          <% } %>
        </div>
      </form>
    </section>
    </main>
  </body>



</html>
