<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />
    <%- include('partials/_head') %>
    <title>Home Page</title>
  </head>

  <header class="header">
    <%- include('partials/_header') %>
  </header>

  <body>
    <section class="main-body">
    <div class="welcome">
        <h1>Welcome to our Restaurant!</h1>
        <img class="main-img" src="https://adsofbrands.net/images/news/1/14912262363404.png" alt="Monpoloy">
        <p>Visit our store for more details.</p>
    </div>

    <section class="about-us">
      <div>
        <h2>About Us</h2>

      </div>
      <div class="about-us-msg">
        <p>
          This is our story.
        </p>
      </div>
    </section>
    </section>

</body>
</html>

  </body>
</html>
