<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />
    <%- include('partials/_head') %>
    <title>Home Page</title>
  </head>

  <header class="header">
    <%- include('partials/_header') %>
  </header>

  <body>
    <section class="main-body">
    <div class="welcome">
        <h1 class="welcome-title">Welcome to WcDonalds!</h1>
        <img class="main-img" src="https://adsofbrands.net/images/news/1/14912262363404.png" alt="Monpoloy">
        <p>Visit our store for more details.</p>
    </div>

    <section class="about-us">
      <div>
        <h2>About Us</h2>

      </div>
      <div class="about-us-msg">
        <p>
          Our humble restaurant opened in 2019, and now it's time to add some functionality! We've decided to create a web app that allows you to place your orders from the comfort of your own home and have it ready by the time you arrive!
          What can we say? We're passionate about burgers, and we're so happy that we can finally help you get our burgers more conveniently than before! We are truly on the cutting edge, and no restaurant or app has ever done what we're doing here.
        </p>
        <img class="rest-img" src="https://preview.redd.it/7ar3pa2mb7o21.jpg?width=1024&auto=webp&s=8ab4ba3075d3d750cb02ac20c7d2852c18f5f54d">
      </div>
    </section>
    </section>

</body>
</html>

  </body>
</html>
