<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


    <header>
      <%- include('partials/_header') %>
    </header>


  <body>
    <section class="welcome">
      <div>
        <h1>Welcome to the restaurant!</h1>
      </div>
      <div>
        <img src="https://i.imgur.com/BjA1g9f.jpeg" alt="burger" style="width:700px;height:600px;">
      </div>
    </section>

    <section class="most-popular">
      <div>
        <h4>HEY, here are some of our most popular dishes!</h4>

      </div>
      <div class="food">
        <section id="popular-food">
          show food items using query
        </section>


      </div>


    </section>





  </body>
</html>
