<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Orders</title>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <div>
      <h1>Current orders</h1>
      <section class="pending-orders">
        pending orders
      </section>
    </div>

    <div>
    <h1>Previous orders</h1>
      <section class="prev-orders">
        show previous orders
      </section>
    </div>
  </body>
</html>
