
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
  <title>Register</title>
  <link rel="stylesheet" href="/styles/register.css" type="text/css"/>
</head>
  <header>
    <%- include('partials/_header') %>
  </header>
<body>
  <main>
  <section class="main-body">
    <h1> Create A New Account</h1>
    <% if (error) { %>
      <b><%= error  %></b>
    <% } %>
  <div class="register-form">
    <form class="form" method="POST" action='/register'>
    <div class="name-field">
      <h7> Name: </h7>
      <input class="form-control" type="text" name="name" placeholder="Enter your name">
    </div>
    <div class="phone-field">
      <h7> Phone Number: </h7>
      <input class="form-control" type="text" name="phone_number" placeholder="Enter your phone number">
    </div>
    <div class="email-field">
      <h7> Email Address: </h7>
      <input class="form-control" type="text" name="email" placeholder="Enter your email">
    </div>
    <div class="password-field">
      <h7> Password: </h7>
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
  </section>
  </main>
</body>
</div>

</html>

