
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
  <title>Register</title>
</head>
  <header>
    <%- include('partials/_header') %>
  </header>
<body>
  <main class="register">
  <h2> Create Account</h2>
  <div>
    <p></p>
    <h7> Name</h7>
    <form method="POST" action='/register'>
    <p><input type="text" name="name" placeholder="Enter your name"></p>
    <h7> Phone Number</h7>
    <p><input type="text" name="phone_number" placeholder="Enter your phone number"></p>
    <h7> Email Address</h7>
    <p><input type="text" name="email" placeholder="Enter your email"></p>
    <h7> Password</h7>
    <p><input type="password" name="password" placeholder="Password"></p>
    <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
  </main>
</body>
</div>

 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRv+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4s86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/jsbootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFfnJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

