*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  display:flex;
  justify-content: center;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  margin: 0.5em 5em 1em 5em;
  border-bottom: 2px solid;
  list-style-type: none;
  font-family: Tahoma;
  font-size: 1.3em;

  li {
    width: 20%;
  }

  .quantity {
    width: 10%;
  }

  .item-name {
    width: 25%;
  }

  .item-img {
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    margin-bottom: 1em;
  }

  button{
    background-color: #c7ebff;
    color: black;
    margin-top: 10px;

    &:hover {
      color: white;
      background-color: red;
    }
  }
}

.total-order {
  display:flex;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: 600;
}

#placeOrder {
  float: right;
  margin: 0 13vw 5vw 0;
  width: fit-content;
  height: fit-content;
  background-color:  #3995db;
  font-size: 1.5em;

  &:hover {
    color: black;
    background-color: #c7ebff;
  }
}
