// See: https://sass-lang.com/

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");


  h1 {
    color: #244751;
  }
}

