$blue: #3995db;

h1 {
  display:flex;
  justify-content: center;
}

#menu-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .item-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 40vw;
    margin: 3em;
    flex-grow: 1;
    button {
      background-color:  $blue;
      color: white;
      &:hover {
        color: $blue;
        background-color: white;
        border: 1px solid $blue;
      }
    }
  }

  .image{
    border-radius: 100%;
  }

  .item-name {
    margin: 1em;
  }

  .item-description{
    display:flex;
    justify-content: center;
    width: 75%;
  }

  .item-footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0.5em 0 0 0;
  }

  .item-cost {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .image{
    height: 40vw;
    width: 40vw;
  }

}
