*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
}


.pending-orders {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5em;
}

.each-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  width: 40%;
  border: 2px solid #545149;
  box-sizing: border-box;
  padding: 0.25em;
  background: linear-gradient( white, #c7ebff);
  margin:auto;
}
