*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c7ebff !important;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 75%;

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  input.form-control{
    width: 35vw;
    margin: 0.5em 0 0.5em 0;
  }

  button {
    width: 35vw;
  }

  h7 {
    font-weight: bold;
  }
}
